@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Splash&display=swap");
:root {
  --color-black: rgba(0, 0, 0, 0.75);
  --color-dark-blue: hsl(221, 56%, 40%);
  --color-light-blue: hsl(218, 92%, 95%);
  --color-mid-blue: hsl(210, 52%, 87%);
}
* {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 3px;
  font-size: 1.2rem;
  color: var(--color-dark-blue);
  text-align: center;
  background-color: var(--color-light-blue);
  /* font-family: "Splash", cursive; */
}

#name-form input {
  padding: 0.5rem 1rem;
  border-style: none;
  border-bottom: 2px solid var(--color-dark-blue);
  color: var(--color-dark-blue);
}

#name-form input:active {
  outline: none;
  color: var(--color-dark-blue);
}
#name-form input:focus {
  outline: none;
  color: var(--color-dark-blue);
}
#name-form button {
  padding: 0.5rem 1rem;
  box-shadow: 10px 10px 21px -7px var(--color-black);
  background-color: var(--color-dark-blue);
  color: var(--color-light-blue);
  border-style: none;
  border-radius: 1rem;
}
.btn-clear {
  padding: 0.5rem 1rem;
  box-shadow: 10px 10px 21px -7px var(--color-black);
  background-color: var(--color-dark-blue);
  color: var(--color-light-blue);
  border-style: none;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  right: -20px;
}
#output-block {
  width: 60%;
  margin: 4rem auto;
  padding: 0;
  position: relative;
}
#output {
  padding: 3rem 2rem;
  background-color: var(--color-mid-blue);
  box-shadow: 10px 10px 21px -7px var(--color-black);
}
